@import 'reset';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  #content {
    min-height: 200px;
  }
  .main {
    flex: 1 0 auto;
    .critical-word {
      font-size: 6em;
    }
    .word-container {
      .card {
        box-shadow: none;
        .card-content {
          padding-top: 0;
          padding-bottom: 0;
        }
        .card-action {
          padding: 10px;
          #full-screen {
            position: absolute;
            right: 0;
            color: #02797d;
          }
          #save-csv {
            position: absolute;
            right: 40px;
            color: #02797d;
          }
        }
      }
      &:-webkit-full-screen {
        width: 100%;
        .critical-word {
          font-size: 15em;
        }
      }
    }
  }
  .page-header {
    .nav-wrapper {
      .brand-logo {
        top: 18px;
        padding-left: 10px;
        font-size: 1.5em;
      }
    }
  }
  .page-footer {
    padding: 0;
  }
  .card-image .valign-wrapper {
    min-height: 30vh;
    .valign {
      width: 100%;
    }
  }

  .lang-select.select-wrapper input.select-dropdown {
    margin-bottom: 0;
    height: 2rem;
  }

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}